<div class="details" *ngIf="data">
  <div class="details__header">
    <img src="../../../../../assets/img/bg.png" alt="bg">
  </div>

  <div class="details-content">
    <div class="details-description">
      <div class="details-description__title">{{data.title}}</div>
      <div class="details-description__text">
        <p>{{data.summary}}</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aperiam maxime consequatur sit hic minima, earum
          neque. Accusamus aspernatur, officia assumenda quae nobis nostrum quia eos, illo laboriosam natus ea.
          Accusantium.</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reprehenderit, temporibus saepe voluptates quod eos
          inventore dolorem quam sequi omnis iure, reiciendis sit earum laborum quos officiis a. Mollitia, facilis
          ullam.
          Consequuntur aliquid asperiores explicabo eligendi veniam ipsam in quasi atque animi nam voluptatibus beatae
          blanditiis, adipisci nemo! Iusto non, aperiam asperiores voluptate ut eius laboriosam eaque distinctio
          expedita labore vero?
          Labore, enim sint! Eum placeat adipisci, minima quas deserunt beatae tempore ratione culpa quisquam, labore
          dolores, quos quaerat magnam odit corrupti. Minus esse nostrum asperiores aliquid consectetur iste facilis
          maxime?
          Dicta ducimus, sequi inventore corporis aliquam numquam beatae? Doloribus minus culpa cum porro, nam
          recusandae a beatae consequuntur non rerum reprehenderit laboriosam, tenetur sint enim sed architecto, quas
          provident molestiae.
          Doloribus nam maiores dolorem, ut, amet iusto tenetur veritatis nesciunt quisquam animi facere sint adipisci
          laudantium modi nisi velit sapiente reiciendis cumque natus eveniet debitis quis id similique quibusdam.
          Veritatis.
          Quas qui fugit dolore rem aliquam voluptatibus, dicta saepe nostrum eaque obcaecati mollitia, ut quaerat quam
          culpa tempora minus. Est harum laboriosam dolorem ipsa eveniet exercitationem debitis minus incidunt facere!
          Suscipit fuga nulla cumque autem molestias nostrum quas accusantium illo magnam doloremque? Culpa incidunt
          itaque maxime veritatis nihil nulla aut eaque a id? Quisquam iusto natus eaque itaque doloremque perferendis!
          Soluta impedit saepe dolore cumque corrupti blanditiis sint eveniet ex amet, deserunt est repudiandae
          explicabo enim illo in reiciendis. Eius quidem ipsum nihil reprehenderit repudiandae a similique blanditiis
          deleniti? Dolor!
          Animi, quisquam, similique itaque harum, quod beatae maiores provident nemo laudantium hic tempore dolorum.
          Provident inventore delectus quod quibusdam magni consequuntur, perferendis molestiae ullam corrupti, quaerat
          tempore facilis natus? Amet.
          Odit alias repellendus molestias a illo, cum voluptas non, quod unde corrupti delectus atque, harum
          consequatur quisquam velit aliquam repellat quam eos. Tempore culpa illo commodi rerum distinctio quasi
          veniam?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus exercitationem aliquam ratione, vel reiciendis
          quia maxime ex soluta repellat placeat recusandae molestiae? Officiis velit exercitationem numquam ipsam
          voluptatem delectus quasi?
          Saepe aliquid amet sed, atque eos, fugiat, voluptatem fugit dolorem magnam quod id nesciunt pariatur ad
          corrupti magni nulla. Ab voluptatem consequuntur fugit officia obcaecati illo animi sapiente sint quisquam?
          Dolor illo distinctio dolores reiciendis natus! Perferendis perspiciatis amet ad deserunt quam corporis
          quisquam voluptates rem consectetur esse quibusdam molestias ducimus vitae, neque nisi possimus velit ipsa
          nihil unde veniam.</p>
      </div>
    </div>
    <div class="btn" (click)="redirectBack()">
      <span class="btn-icon"><img src="../../../../../assets/img/arrow.svg" alt="arrow"></span>
      <span class="btn-text">Back to homepage</span>
    </div>
  </div>
</div>