$color-text-dark: #363636;
$color-text-light: #868686;
$color-text-input: #575757;

$color-dark-light: #eaeaea;
$color-light: #fafafa;
$color-white: #ffffff;

$color-accent: rgba(#fff619, 0.63);
$color-active: #5800b0;

$font-size: 16px;
$font-main: "Montserrat", sans-serif;

$xl: 1440px;
$lg: 992px;
$md: 768px;
$sm: 576px;

$gap: 25px;
